# environment variables
# copy this file to .env and fill in your values

OPENAQ_API_KEY=a3a808b58aad7e1903bf1127e6f4d69ba198d585de7fe41c0a54d955ef672727 

# Database Configuration (usually set via docker-compose)
DATABASE_URL=oracle-enhanced://system:healthsignal123@oracle:1521/HEALTHSIGNAL
REDIS_URL=redis://redis:6379/0

# FastAPI Service URL
FASTAPI_URL=http://fastapi:8000

# Rails Environment
RAILS_ENV=development

